body {
    background-color: black;
    color: white;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
}
h1 {
    color: transparent;
    animation: effect 3s linear infinite;
    text-align: center;
    
}

@keyframes effect {
    0% {
        background: linear-gradient(
            #008000, #008000);
        -webkit-background-clip: text;
    }
    100% {
        background: linear-gradient(
            #4682b4, #4682b4);
        -webkit-background-clip: text;
    }
}
